* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh sans', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: $text-color;
    text-decoration: none;
}

// a:link, a:visited, a:hover, a:active {
//     color: rgba(0, 0, 0, 0);
// }

button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}