

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'config';
@import 'reset';
@import 'menu';
@import 'responsive';


body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: $background;
    // margin-top: 80px;
}

.relative {
    position: relative;
}

tr {
    display: flex;
    justify-content: space-between;
}

th, td {
    flex: 1;
}

/*************************************
Main
*************************************/
main {
    flex: 1;
    margin-top: 20px;
}

/*************************************
Index
*************************************/


/***
* Todo List
*/
.todo-list td, th{
    text-align: center;
}

.todo-list td:last-child {
    text-align: right;
}


/***
* Calendar
*/
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#calendar{
    .week {
        min-height: 110px;
    }
    
    .day {
        padding: 0;
        margin: 0;
    }
    
    ul {
        margin: 0;
    }
}

/*************************************
Font Awsome logos
*************************************/
.fa-pen-clip, .fa-circle-info, .fa-trash {
    color: $theme2;
}

/*************************************
Edit
*************************************/
#edit .edit-form .button{
    margin-top: 16px;
}

/*************************************
Show
*************************************/


/*************************************
Create
*************************************/


/*************************************
Project Map
*************************************/
#project_map {
    margin-top: 100px;

    .project-goal{
        text-align: center;
        width: 40%;
        height: 56px;
        margin: 0 auto;
        border-bottom: solid 5px $accent;
    }

    .time_line{
        position: absolute;
        height: calc(100% - 56px - 15px);
        width: 3px;
        left: 50%;
        background: $accent;
        
        &:before{
            position: absolute;
            content: "";
            top: 100%;
            left: -13px;
            width: 30px;
            height: 30px;
            border: solid 3px $accent;
            border-radius: 50%;
            background-color: $theme1;
        }
    }

    .project__todos{
        width: 50%;
        margin: 10px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        
    .todo__wrapper{
        width: calc(50% - 50px);
        background-color: $theme1;
        border-top: solid 5px $accent;
        border-radius: 5px;
        padding: 0 10px;

    }
    .todo__wrapper h2{
        text-align: center;
    }

    /* horizontal time line */
    .todo__wrapper:before{
        position: absolute;
        top: 10px;
        right: -50px;
        content: "";
        display: block;
        width: 36px;
        height: 3px;
        background: $accent;
    }
    .todo__wrapper:nth-child(even):before{
        top: 10px;
        left: -50px;
    }

    /* todos layout */
    .todo__wrapper:nth-child(odd){
        margin-bottom: 25px;
    }
    .todo__wrapper:nth-child(even){
        margin: 25px 0 0 auto;
    }
}






/*************************************
Edit priority
*************************************/
.draggable {
    background-color: $background;
    color: $text-color;
    padding: 1rem;
    border: solid 5px $theme2;
    cursor: move;
    border-radius: 5px;
}

.draggable.dragging {
    opacity: 0.5;
}

.high-priority {
    background-color: rgb(255, 179, 207);
    padding: 20px;
}

.mid-priority {
    background-color: rgb(246, 255, 179);
    padding: 20px;
}

.low-priority {
    background-color: rgb(179, 239, 255);
    padding: 20px;
}

#scroll-down {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    bottom: 0;
}

/*************************************
Footer
*************************************/
footer {
    background-color: $theme1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    p {
        color: $text-color;
        margin: 0;
    }
}