// Reset
// @import 'reset';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



/*************************************
General
*************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh sans', sans-serif;
    scroll-behavior: smooth;
}

/**
* #d5cdc8
* #d3b4af
* #a27e73
* #44281e
*/

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: #d5cdc8;
}


a {
    color: $text-color;
    text-decoration: none;
}
// a:link, a:visited, a:hover, a:active {
//     color: rgba(0, 0, 0, 0);
// }

.relative {
    position: relative;
}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

tr {
    display: flex;
    justify-content: space-between;
}

th, td {
    flex: 1;
}

/*************************************
Navbar
*************************************/
.navbar {
    background-color: $theme1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;

    a:link, a:visited, a:hover, a:active {
        color: rgba(0, 0, 0, 0);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }

    &__menu {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
    }

    &__item {
        height: 80px;
    }
    
    &__item-link {
        @include gradient-color;
        @include gradient-setting;
        width: 125px;
        height: 100%;
        transition: all 0.3s ease;
    }

    &__logo {
        @include gradient-color;
        @include gradient-setting;
        font-size: 2rem;
        z-index: 100;
    }

    &__item-link--create {
        @include gradient-color;
    }
}







/*************************************
Main
*************************************/
main {
    flex: 1;
    margin-top: 20px;
}





/*************************************
Index
*************************************/


/***
* Todo List
*/
.todo-list td, th{
    text-align: center;
}

.todo-list td:last-child {
    text-align: right;
}


/***
* Calendar
*/
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#calendar .week {
    min-height: 110px;
}



#calendar .day {
    padding: 0;
    margin: 0;
}
#calendar ul {
    margin: 0;
}

/***
* Font Awsome logos
*/
.fa-pen-clip, .fa-circle-info, .fa-trash {
    color: $accent;
}

/*************************************
Edit
*************************************/
#edit .edit-form .button{
    margin-top: 16px;
}

/*************************************
Show
*************************************/


/*************************************
Create
*************************************/


/*************************************
Project Map
*************************************/
#project_map {
    margin-top: 100px;

    .project-goal{
        text-align: center;
        width: 40%;
        height: 56px;
        margin: 0 auto;
        border-bottom: solid 5px $accent;
    }

    .time_line{
        position: absolute;
        height: calc(100% - 56px - 15px);
        width: 3px;
        left: 50%;
        background: $accent;
        
        &:before{
            position: absolute;
            content: "";
            top: 100%;
            left: -13px;
            width: 30px;
            height: 30px;
            border: solid 3px $accent;
            border-radius: 50%;
            background-color: $theme1;
        }
    }

    .project__todos{
        width: 50%;
        margin: 10px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        
    .todo__wrapper{
        width: calc(50% - 50px);
        background-color: $theme1;
        border-top: solid 5px $accent;
        border-radius: 5px;
        padding: 0 10px;

    }
    .todo__wrapper h2{
        text-align: center;
    }

    /* horizontal time line */
    .todo__wrapper:before{
        position: absolute;
        top: 10px;
        right: -50px;
        content: "";
        display: block;
        width: 36px;
        height: 3px;
        background: $accent;
    }
    .todo__wrapper:nth-child(even):before{
        top: 10px;
        left: -50px;
    }

    /* todos layout */
    .todo__wrapper:nth-child(odd){
        margin-bottom: 25px;
    }
    .todo__wrapper:nth-child(even){
        margin: 25px 0 0 auto;
    }
}






/*************************************
Edit priority
*************************************/
.draggable {
    background-color: #fff;
    color: #000;
    padding: 1rem;
    border: solid 5px $theme2;
    cursor: move;
    border-radius: 5px;
}

.draggable.dragging {
    opacity: 0.5;
}

.high-priority {
    background-color: rgb(255, 179, 207);
    padding: 20px;
}

.mid-priority {
    background-color: rgb(246, 255, 179);
    padding: 20px;
}

.low-priority {
    background-color: rgb(179, 239, 255);
    padding: 20px;
}

#scroll-down {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    bottom: 0;
}

/*************************************
Footer
*************************************/
footer {
    background-color: $theme1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

footer p {
    color: #000;
    margin: 0;
}