/*************************************
Index
*************************************/


/***
* Calendar
*/

#calendar tr {
    display: flex;
}

#calendar .week {
    min-height: 110px;
}

#calendar th, td {
    flex: 1;
}

#calendar .day {
    padding: 0;
    margin: 0;
}
#calendar ul {
    margin: 0;
}

/*************************************
Edit
*************************************/
#edit .edit-form .button{
    margin-top: 16px;
}

/*************************************
Show
*************************************/


/*************************************
Create
*************************************/